html, body, #container {
    height: 100%;
    width: 100%;
    margin: 0;
}

#container  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 4px;
    column-gap: 16px;
    height: 95%;
    width: 95%;
    margin: auto;
    padding: 10px;
}

#input {
    height: 90%;
    min-width: 50%;
    grid-column: 1;
    grid-row: 1 / 3;
}

#input form {
    width: 100%;
    height: 100%;
}

#input #code {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
}

#info {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: 100%;
    /* margin: 4px; */
}

#info #timeline {
    width: 100%;
    background: #d3d3d3;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
}

#info #timeline::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#info #timeline::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#graph-wrapper {
    grid-column: 2;
    grid-row: 2;
    border: 2px black solid;
    height: 45%;
    height: 90%;
}

#graph {
    height: 100%;
    width: 100%;
}


