:root {
    --menu-height: 0%;
    --old-menu-height: 0%;
    --line-height: 1.1em;
    --border: 2px solid #e5e5e5;
    --inner-color: #fafafa;
}

html, body, #container {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    line-height: var(--line-height);
    font-family: arial;
}

#container  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 16px;
    height: 95%;
    width: 95%;
    margin: auto;
    padding: 8px;
    position: relative;
}

#input {
    height: 100%;
    min-width: 100%;
    grid-column: 1;
    grid-row: 1 / 3;
}

#input form {
    width: 100%;
    height: 100%;
    position: relative;
}

#input #submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    right: 24px;
    bottom: 0px;
    padding: 5px;
    border: 2px solid #aaa;
    border-radius: 3px;
    background-color: #fff;
    line-height: var(--line-height);
    font-family: inherit;
}

#input #submit:hover { background-color: #eee }

#input #submit:active { background-color: #ccc }

#input #code {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    padding: 10px;
    font-size: 12pt;
    border: var(--border);
    background-color: var(--inner-color);
    font-family: monospace;
}

#indicator {
    position: absolute;
    right: 2px;
    color: #ff3333;
    visibility: hidden;
}

#info {
    grid-column: 2;
    grid-row: 1;
    max-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

#info #timestamp {
    position: absolute;
    right: 0;
}

#info #timeline {
    width: 100%;
    background: #d3d3d3;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    padding: 0;
}

#info #timeline::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#info #timeline::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.skip-line {
    height: 30px;
}

.textarea {
    width: 99%;
    max-width: 99%;
    max-height: var(--menu-height);
    height: var(--menu-height);
    overflow-y: scroll;
    background-color: white;
    color: black;
    padding-top: 6px;
    padding-left: 4px;
    text-wrap:pretty;
}

.scripts {
    display: inline-table;
    grid-template-rows: 1fr 1fr;
    position: relative;
    bottom: calc(var(--line-height)/2);
    height: var(--line-height);
    padding-top: 8px;
}

.super {
    display: table-row;
    font-size: 90%;
    vertical-align: super;
}

.sub {
    padding-top: 1px;
    font-size: 80%;
    display: table-cell;
    vertical-align: sub;
}

.menu-wrapper {
    background-color: #e5e5e5;
    padding: 2px;
    border-radius: 2px;
    border-color: #bfbfbf;
    border-width: 2px;
    border-style: solid;
    width: 100%;
}

.menu-wrapper label {
    width: 100%;
    display: block;
}

@keyframes menu-dropdown {
    from { max-height: 0px ; height: 0px }
    to { max-height: var(--menu-height) ; height: var(--menu-height) }
}

@keyframes menu-hide {
    from { max-height: var(--old-menu-height) ; height: var(--old-menu-height)}
    to { max-height: 0px ; height: 0px }
}

.menu {
    max-height: 0px;
    height: 0px;
    overflow-y: hidden;
    animation-name: menu-hide;
    animation-duration: 0.2s;
}

.menu.opened {
    animation-name: menu-dropdown;
    animation-duration: 0.2s;
    width: 100%;
    max-height: var(--menu-height);
    height: var(--menu-height);
    padding-bottom: 6px;
}

.menu.opened.buttons {
    overflow-y: scroll;
    background-color: white;
}

.menu button {
    background-color: #f5f5f5;
    color: black;
    display: block;
    width: 100%;
    padding: 4px;
    border: none;
    text-decoration: none;
    text-align: left;
}

.menu button:hover:not(.active) {
    background-color: #e0e0e0;
}
  
.menu button.not-current:not(.active) {
    background-color: #efdfdf;
}

.menu button.not-current:hover:not(.active) {
    background-color: #dfcfcf;
}
  
.menu button.active {
    background-color: #04AA6D;
    color: white;
}

#graph-wrapper {
    position: absolute;
    bottom: 0;
    grid-column: 2;
    grid-row: 2;
    border: var(--border);
    background-color: var(--inner-color);
    padding: 0;
    height: 40vh;
    width: 100%;
}

#graph-wrapper #current-node {
    position: absolute;
    right: 4px;
    bottom: 4px;
    font-size: 14px;
}

#graph-wrapper #graph {
    height: 100%;
    width: 100%;
}


