html, body, #container {
    height: 100%;
    margin: 0;
}

#container  {
    display: flex;
    flex: row;
}

#input {
    justify-content: left;
    /* background-color: blue; */
    flex-grow: 2;
    align-items: stretch;
    height: 90%;
    margin: 6px;
}

#display {
    justify-content: right;
    /* background-color: red; */
    align-items: stretch;
    flex-grow: 3;
    height: 90%;
    margin: 4px;
}

#input form {
    width: 100%;
    height: 100%;
}

#input #rules {
    width: 100%;
    height: 35%;
    box-sizing: border-box;
    resize: none;
}

#input #narrative {
    width: 100%;
    height: 55%;
    box-sizing: border-box;
    resize: none;
}
